<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="CodeTrack"
            id="codetrack">
      </category>
      <view
            id="codetrack.views.Codetrack"
            name="CodeTrack"
            icon="icons/sample.png"
            class="codetrack.views.Codetrack"
            category="codetrack"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="codetrack.views.Codetrack"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               ratio="0.5">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.codeMiningProviders">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
   </extension>
   <extension
         point="org.eclipse.core.resources.natures">
   </extension>
</plugin>
